<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant List</title>

  <!-- link Bootstrap 三組靜態檔案（static files）css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">


  <!--  載入style.css 提供的檔案 CSS 的<link> 標籤，要放在<head> 裡 -->
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

  <!-- include font-awesome files here -->
  <script src="https://kit.fontawesome.com/0e899440f2.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="35" height="35" class="d-inline-block align-top " alt="Minions Restaurant"
            title="Minions Restaurant">
          Minions Restaurant
          <img src="https://octodex.github.com/images/minion.png" alt="Minions" title="Minions" width='35px'
            height='35px'>
        </a>
      </div>
    </nav>
    <div class="banner"></div>
  </header>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include Bootstrap 三組靜態檔案（static files） here -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>


</body>

</html>